@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* text-align: center; */
    color: black;
    font-family: 'Baloo Bhaijaan 2', cursive;
    text-transform: capitalize;
    background-image: url('vote1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-size: 16px;
}

#headersection {
    padding: 12px;
}

#bodysection {
    padding: 12px;
}

input {
    font-size: 15px;
    padding: 8px;
    border-radius: 8px;
}

#dropbox {
    font-size: 12px;
    padding: 8px;
    border-radius: 8px;
    width: 8%;
    border: 2px solid black;
}

#lgnbtn {
    font-size: 12px;
    padding: 8px;
    border-radius: 8px;
    width: 5%;
    background-color: #0984e3;
    color: white;
}